/* Reset CSS */
html, body, h1, h3, p, table, th, td, form, input, a {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 20px;
}

h1 {
    color: #333;
    margin-bottom: 10px;
}

h3 {
    color: #555;
    margin-top: 20px;
}

form {
    margin-top: 10px;
}

input[type="text"],
input[type="submit"] {
    margin: 5px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

#editForm {
    display: none;
    margin-top: 20px;
}

#editForm input[type="hidden"],
#editForm input[type="text"] {
    margin: 5px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#editForm input[type="submit"] {
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #333;
    margin-left: 5px;
    cursor: pointer;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

#managerButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#managerButton:hover {
    background-color: #0056b3;
}

